In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("sentiment_analysis.csv")
df.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [5]:


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7920 entries, 0 to 7919
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      7920 non-null   int64
 1   label   7920 non-null   int64
 2   tweet   7920 non-null   object
dtypes: int64(2), object(1)
memory usage: 185.8+ KB

Data preprocessing

In [9]:
df.shape

(7920, 3)

In [11]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7915    False
7916    False
7917    False
7918    False
7919    False
Length: 7920, dtype: bool

In [14]:
df.duplicated().sum()

np.int64(0)

In [15]:
df.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

text preprocessing

In [16]:
import re
import string

convert uppercase to lower case

In [18]:
df["tweet"].head(5)

0    #fingerprint #pregnancy test https://goo.gl/h1...
1    finally a transparant silicon case ^^ thanks t...
2    we love this! would you go? #talk #makememorie...
3    i'm wired i know i'm george i was made that wa...
4    what amazing service! apple won't even talk to...
Name: tweet, dtype: object

In [20]:
df["tweet"] = df["tweet"].apply(lambda x: " ".join(x.lower()for x in x.split()))
df.head(5)

   id  label                                              tweet
0   1      0  #fingerprint #pregnancy test https://goo.gl/h1...
1   2      0  finally a transparant silicon case ^^ thanks t...
2   3      0  we love this! would you go? #talk #makememorie...
3   4      0  i'm wired i know i'm george i was made that wa...
4   5      1  what amazing service! apple won't even talk to...

remove link

In [ ]:
df["tweet"] = df["tweet"].apply(lambda x: " ".join(re.sub()))